$lightBlue: #90d7f3;
@import url(./animations.scss);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body {
  background-color: #dddddd;
}
#app {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.van-tabbar.main-tabbar {
  height: 100px;
  .van-tabbar-item__icon {
    img {
      height: 100px;
    }
  }
}
.main-navigation {
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to bottom, #114272 0%, #031c42 0%, #114272 50%, #031c42 99%);

  height: calc(100vh - var(--van-nav-bar-height));
  // padding: 32px 0;
  .main-row {
    display: flex;
    justify-content: space-around;
  }
  .main-small-button,
  .main-big-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: $lightBlue;
    font-size: 16px;
    span.name {
      margin-top: 5px;
    }
    // position: absolute;
  }
  .main-small-button {
    width: 160px;
    img {
      width: 64px;
    }

    // &.inventory-button {
    // }
    // &.shop-button {
    // }
    // &.mining-button {
    // }
    // &.boost-button {
    // }
    // &.missions-button {
    // }
  }
  .mine-laoder-block {
    width: 100%;
    margin: 0 auto;
    max-width: 200px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .mine-info {
      display: block;
      margin-bottom: 4px;
      color: $lightBlue;
      font-size: 14px;
      &.mine-percent {
        font-size: 25px;
        font-weight: bold;
      }
    }
    .claim-button {
      width: 100%;
      margin-top: 8px;
      background: url(@/assets/buttons/Btn06Blue_p.png);
      // background: url(@/assets/buttons/Btn06Orange_p.png);
      border: 0;
      position: relative;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 69px;
      color: $lightBlue;
      font-size: 20px;
      /* text-transform: uppercase; */
      font-weight: bold;
      span {
        margin-top: -16px;
      }
    }
  }
  .mine-laoder {
    width: 100%;
    height: 25px;
    margin: 8px auto;
    background: #031e44;
    border-radius: 5px;
    // border: 1px solid $lightBlue;
    position: relative;
    overflow: hidden;
    .fill {
      height: 100%;
      width: 50%;
      background: $lightBlue;
    }
  }
  .main-mine-cell {
    width: 80%;
    text-align: center;

    margin-bottom: 32px;
  }
  .main-big-button {
    img {
      width: 200px;
    }
  }
}
@media (min-width: 1024px) {
}
