@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

@mixin tektur-font {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.tektur-400 {
  @include tektur-font;
  font-weight: 400;
}
.tektur-500 {
  @include tektur-font;
  font-weight: 500;
}
.tektur-600 {
  @include tektur-font;
  font-weight: 600;
}
.tektur-700 {
  @include tektur-font;
  font-weight: 700;
}
.tektur-800 {
  @include tektur-font;
  font-weight: 800;
}
.tektur-900 {
  @include tektur-font;
  font-weight: 900;
}
