@import "./fonts.scss";
@import "./van.scss";
@import "./animations.scss";
@import "./variables.scss";
@import "./helper.scss";
@import "./buttons.scss";
@import "./popup.scss";
@import "./rarity.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
// html {
//   min-height: 100%;
// }

body {
  min-height: 100dvh;
  // @include tektur-font;
  background: $bgGradient;
}
#app {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  min-height: 100dvh;
}

.main-loading {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.load-error {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.page-soon {
  min-height: calc(100dvh - var(--van-nav-bar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: $lightBlue;
  font-size: 3rem;
}
.page-loading {
  min-height: calc(100dvh - var(--van-nav-bar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.page {
  min-height: calc(100dvh - var(--van-nav-bar-height));
  padding: 1rem;
  position: relative;
  h1 {
    color: $lightBlue;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
.main-navigation {
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // min-height: 100%;
  min-height: calc(100dvh - var(--van-nav-bar-height));
  // padding: 32px 0;
  .main-row {
    display: flex;
    justify-content: space-around;
  }
  .main-small-button,
  .main-big-button {
    @include tektur-font;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: $lightBlue;
    font-size: 12px;
    span.name {
      margin-top: 5px;
    }

    // position: absolute;
  }

  .main-small-button {
    width: 160px;
    img {
      width: 50px;
    }

    // &.inventory-button {
    // }
    // &.shop-button {
    // }
    // &.mining-button {
    // }
    // &.boost-button {
    // }
    // &.missions-button {
    // }
  }
  .mine-laoder-block {
    width: 100%;
    margin: 0 auto;
    max-width: 200px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .claim-button {
      width: 100%;
      margin-top: 8px;
      border: 0;
      position: relative;
      height: 69px;
      color: $lightBlue;
      font-size: 20px;
      cursor: pointer;
      /* text-transform: uppercase; */
      span {
        margin-top: -16px;
      }

      @include active-button;

      // &:disabled:before {
      //   @include effect-button;
      //   opacity: 0.5;
      //   background-color: transparent;
      //   background-image: url(@/assets/buttons/Blue/BlueButtonDisable.png);
      //   background-size: 100% 100%;
      //   border: inherit;
      //   border-color: none;
      // }
    }
  }
  .mine-laoder {
    width: 100%;
    height: 25px;
    margin: 8px auto;
    background: #031e44;
    border-radius: 5px;
    // border: 1px solid $lightBlue;
    position: relative;
    overflow: hidden;
    .fill {
      height: 100%;
      width: 50%;
      background: $lightBlue;
    }
  }
  .main-mine-cell {
    width: 80%;
    text-align: center;
  }
  .main-big-button {
    img {
      width: 200px;
    }
  }

  .stats-block {
    margin-bottom: 8px;
  }
}

.mine-info {
  display: block;
  margin-bottom: 4px;
  color: $lightBlue;
  font-size: 14px;
  line-height: 1;
  &.mine-percent {
    font-size: 25px;
    font-weight: bold;
  }
  &.balance {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

/*************INventory**************/
.inventory-grid {
  // margin-left: -8px;
  // margin-right: -8px;
}
.inventory-item {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  .header {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }
  .van-grid-item__content {
    background: transparent;
    border: none;
    padding: 0;
  }
  .content {
    padding: 0.5rem;
    background: $darkBlue;
    color: $lightBlue;
    // border: 2px solid $lightBlue;
  }
  .van-image {
    min-height: 100px;
    min-width: 100px;
    width: 100%;
  }
  // .van-image__loading {
  //   min-height: 100px;
  //   min-width: 100px;
  //   width: 100%;
  //   background: transparent;
  // }
  // .footer {
  //   width: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   height: 45px;
  //   button {
  //     flex: 1;
  //     // margin: 0 5px;
  //     height: 100%;
  //   }
  // }
}

.mission-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.5rem;
  background: $darkBlue;
  color: $lightBlue;
  border: 1px solid $lightBlue;
  color: $lightBlue;
  cursor: pointer;
  position: relative;
  .icon {
    // width: 80px;
    // height: 80px;
    // padding: 16px;
    // border: 1px solid $lightBlue;
    // border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .centr {
    padding: 0 8px;
    flex: 1;
  }
  .name {
    text-align: left;

    font-size: 1.1rem;
    line-height: 1;
    margin-bottom: 4px;
  }
  .description {
    font-size: 0.9rem;
  }
  .reward {
    width: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    .count {
      font-size: 1.1rem;
      margin-bottom: 4px;
    }
    .is-complete {
      font-size: 0.65rem;
    }
  }
}

.boost-item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0.5rem;
  background: $darkBlue;
  color: $lightBlue;
  border: 2px solid $lightBlue;
  color: $lightBlue;
  cursor: pointer;

  .icon {
    width: 80px;
    height: 80px;

    // padding: 16px;
    // border: 1px solid $lightBlue;
    // border-radius: 100%;
  }
  .center {
    padding: 8px 16px;
  }
  .name {
    text-align: left;
    flex: 1;
    // padding: 16px;
    font-size: 1.25rem;
    line-height: 1;
    margin-bottom: 8px;
  }
  .descr {
    text-align: left;
    opacity: 0.8;
    // padding: 16px;
    font-size: 1rem;
    line-height: 1.2;
  }

  .level {
    text-align: center;
    padding: 16px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.25rem;
    .max-level {
      font-size: 1rem;
    }
  }
}

.item-clicked {
  position: relative;

  &:active,
  &:hover {
    &:before {
      opacity: 0.1;
    }
  }
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: var(--van-black);
    border: inherit;
    border-color: var(--van-black);
    border-radius: inherit;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: " ";
  }
}

.box-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.5rem;
  background: $darkBlue;
  color: $lightBlue;
  cursor: pointer;
  position: relative;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
      max-width: 100px;
      width: 100%;
    }
  }
  .centr {
    padding: 0 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
  }
  .name {
    text-align: left;
    font-size: 1.1rem;
    line-height: 1;
    margin-bottom: 4px;
  }
  .description {
    font-size: 0.9rem;
  }
  .price {
    font-size: 1.5rem;
  }
}

.box-popup {
  .drop-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    .drop-chance {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .gun-icon {
    margin-right: 5px;
    svg {
      height: 30px;
      width: 30px;
    }
  }
}

.wrapper-reward {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $lightBlue;
  h2 {
    margin-bottom: 16px;
    font-size: 1.75rem;
  }
  h3 {
    margin-bottom: 16px;
    font-size: 1.5rem;
  }
  .reward-image {
    max-width: 250px;
    width: 100%;
  }
  .continue {
    margin-top: 16px;
  }
}

@media (min-width: 1024px) {
}
